name: deploy_frontend
# Deploys when push is made from frontend folder

on:
  push:
    branches: [ main ]
    paths:
    - 'frontend/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: "20"
    - name: Install and build frontend
      working-directory: frontend
      run: |
        npm ci
        npm run build

    - uses: azure/login@v1
      with:
          creds: ${{ secrets.CREDENTIALS }}

    - name: Upload to blob storage
      uses: azure/CLI@v1
      with:
        inlineScript: |
            az storage blob upload-batch --account-name resumechallenge --auth-mode key -d '$web' -s frontend/dist --overwrite

    - name: Purge CDN endpoint
      uses: azure/CLI@v1
      with:
        inlineScript: |
           az cdn endpoint purge --content-paths "/*" --profile-name "resume-challenge-cdn" --name "streetrack-resume-challenge" --resource-group "Resume-Challenge-rg"
